{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Cine Pasto</title>
<link rel="stylesheet" type="text/css" href="{% static 'cine/bootstrap.css' %}" />
<!-- Custom Theme files -->

<link rel="stylesheet" type="text/css" href="{% static 'cine/style.css' %}" />
<!-- Custom Theme files -->


<script src="{% static 'cine/js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Cinema Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
	
	
<div class="main-contact"> 

<form action="" method="post">{% csrf_token %}
        {% load static %}
        <!--
        Author: W3layouts
        Author URL: http://w3layouts.com
        License: Creative Commons Attribution 3.0 Unported
        License URL: http://creativecommons.org/licenses/by/3.0/
        -->
        <!DOCTYPE html>
        <html>
        <head>
        <title>Cine Pasto</title>
        <link rel="stylesheet" type="text/css" href="{% static 'cine/bootstrap.css' %}" />
        <!-- Custom Theme files -->
        
        <link rel="stylesheet" type="text/css" href="{% static 'cine/style.css' %}" />
        <!-- Custom Theme files -->
        
        
        <script src="{% static 'cine/js/jquery.min.js' %}"></script>
        <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Cinema Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
        Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!--webfont-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        </head>
        <body>
            
            
        <div class="main-contact"> 
        
        <form action="" method="post">{% csrf_token %}
            
                <p>Desea eliminar la funcion con pelicula:"{{ object.pelicula }}" de fecha :"{{ object.fecha_funcion }}"?</p>
                <br>    
                 <input type="submit" class="btn btn-Primary" value="Aceptar" >
            <a class='b-home' href="{% url 'funcion-list' %}" style='width:130px; height:45px' >Cancelar</a>
            
        </form>
        
        </body>
        </html>
    
    
</form>

</body>
</html>

