{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Cine Pasto</title>
<link rel="stylesheet" type="text/css" href="{% static 'cine/bootstrap.css' %}" />
<!-- Custom Theme files -->

<link rel="stylesheet" type="text/css" href="{% static 'cine/style.css' %}" />
<!-- Custom Theme files -->


<script src="{% static 'cine/js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Cinema Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- header-section-starts -->
	<div class="full">
			
		<div class="main">
		<div class="contact-content">
			<div class="top-header span_top">
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" alt="" /></a>
					<p>Cine  Pasto</p>
				</div>
				
				<div class="clearfix"></div>
			</div>
			<!---contact-->
<div class="main-contact"> 
        
       
		 <h3 class="head">Formulario pelicula</h3>
		 
		 <div class="contact-form">
                <form enctype="multipart/form-data" method="post">{% csrf_token %}
					{{ form.as_p }}
				 
				  <div class="col-md-3 contact-right">
					 <input type="submit" value="Guardar"/>
					 <div class="rtm text-center">
						<a href="{% url 'pelicula-list' %}">Cancelar</a>
					</div>
				 </div>
				 <div class="clearfix"></div>
			 </form>
	     </div>
		 
</div>
		
	</div>
	<div class="clearfix"></div>
	</div>
</body>
</html>

    
